{% extends 'base.html' %}
{% load static %}

{% block title %}Create an Account{% endblock title %}

{% block content %}

    <main class="form-signin w-50 m-auto text-center">
        <form method="post">
            {% csrf_token %}
        <img class="mb-4" src="https://www.clipartmax.com/png/middle/245-2454560_how-easy-is-the-video-robot-to-use-video-robot-logo.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Create an Account</h1>
    
        <div class="form-floating">
            {{form.username}}
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating">
            {{form.password1}}
            <label for="floatingPassword">Password</label>
            
        </div>
        <div class="form-floating">
            {{form.password2}}
            <label for="floatingPassword">Confirm Password</label>
        </div>
        <button class="w-20 btn btn-lg btn-primary mt-3" type="submit">Sign up</button>
        <p class="mt-5 mb-3 text-muted">Already have an account? <a href="{% url 'login' %}">Log in</a> </p>
        </form>
    </main>

{% endblock %}
